* {
    font-family: 'Times New Roman', sans-serif;
}

.initial {
    background-image: url('../images/css-background-animation.gif');
}

.starting_form {
    margin-top: -20vh;
}

.routing {
    margin-top: 20vh;
}

.heading {
    height: 9vh;
    width: auto;
}

.heading {
    background-color: rgb(22, 158, 221);
    background-image: linear-gradient(rgb(18, 162, 230), rgb(44, 82, 250));
}

.nav_statement {
    color: white;
    font-size: 23px;
    margin-left: 45%;
    padding-top: 3vh;
    text-decoration: double;
    word-spacing: 1vh;
}

a {
    border-spacing: 20px;
    border: none;
    font-size: 19px;
    margin-right: 50px;
    text-decoration: none;
}

.footer_link {
    margin-left: 450px;
    width: 500px;
}

.navigation,
.topnav {
    display: flex;
    flex-direction: column;
}

.navigation {
    float: left;
    height: 7vh
}

.topnav {
    float: right;
    height: 7vh
}

.logo_position {
    margin-left: 20px;
    margin-top: -18vh;
    position: absolute;
}

.footer_address {
    color: blue;
    color: darkred;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-style: italic;
    line-height: 22px;
    margin-left: 150px;
}

.footer_row1,
.footer_row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1100px;
}

.apbranch {
    margin-left: -35px;
    margin-right: 35px;
}

.copyright {
    color: white;
    font-size: 19px;
    margin-left: 35%;
    margin-top: 18vh;
    padding: 2vh;
}