@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Sofia Pro Light"), local("SofiaPro-Light"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProLight.woff2?https_www.personalcapital.com")
      format("woff2"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProLight.woff?https_www.personalcapital.com")
      format("woff");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Sofia Pro"), local("Sofia Pro Regular"), local("SofiaPro-Regular"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProRegular.woff2?https_www.personalcapital.com")
      format("woff2"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProRegular.woff?https_www.personalcapital.com")
      format("woff");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Sofia Pro Italic"), local("Sofia Pro Regular Italic"),
    local("SofiaPro-Regular-Italic"), local("SofiaPro-RegularItalic"),
    local("SofiaPro-Regularitalic"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProRegularitalic.woff2?https_www.personalcapital.com")
      format("woff2"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProRegularitalic.woff?https_www.personalcapital.com")
      format("woff");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Sofia Pro Black"), local("SofiaPro-Black"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProBlack.woff2?https_www.personalcapital.com")
      format("woff2"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProBlack.woff?https_www.personalcapital.com")
      format("woff");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Sofia Pro Black Italic"), local("SofiaPro-Black Italic"),
    local("SofiaPro-Black-Italic"), local("SofiaPro-BlackItalic"),
    local("SofiaPro-Blackitalic"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProBlackitalic.woff2?https_www.personalcapital.com")
      format("woff2"),
    url("https://home.personalcapital.com/static/media/fonts_v2/Mostardesign-SofiaProBlackitalic.woff?https_www.personalcapital.com")
      format("woff");
}
@font-face {
  font-family: ClarendonURW-Med;
  font-style: normal;
  font-weight: 400;
  src: local("Clarendon"),
    url("https://home.personalcapital.com/static/media/fonts_v2/URW-ClarendonURW-Med.woff2?https_www.personalcapital.com")
      format("woff2"),
    url("https://home.personalcapital.com/static/media/fonts_v2/URW-ClarendonURW-Med.woff?https_www.personalcapital.com")
      format("woff");
}
