<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler3"
        aria-controls="myNavbarToggler3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <img src="../../images/logop.png" width="150px" alt="">
    <div class="collapse navbar-collapse" id="myNavbarToggler3">
        <ul class="navbar-nav ml-auto">
           
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="investgo">Investers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="learn">LearnMore</a>
            </li>
            <li class="nav-item">
                <button class="btn" routerLink="start">Get Started</button>
            </li>
        </ul>
    </div>
</nav>
  

<router-outlet></router-outlet> 

  