<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div id="mainCoantiner">
    <!--dust particel-->
    <div class="margin-body">

        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div>
        <!--Dust particle end--->

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="title-h4 text-center"><span><span class="light">Banks!!! </span> Big
                                Investors</span></div>
                        <div class="title-h4 text-center"><span><span class="light">an organization which keeps money
                                    safely for its customers; the office or building of such an organization. You can
                                    take money out, save, borrow or exchange money at a bank. </span> higher level
                                of service. </span></div><br><br>

                        <div class="col-md-10 ">
                            <div class="row ">
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card l-bg-cherry">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large"><em
                                                    class="fas fa-shopping-cart"></em></div>
                                            <div class="mb-4">
                                                <h5 class="card-title mb-0">CITI</h5>
                                            </div>
                                            <div class="row align-items-center mb-2 d-flex">
                                                <div class="col-8">
                                                    <p class="d-flex align-items-center mb-0">
                                                        Citi began operations in India over a century ago in 1902 in
                                                        Kolkata and today is a
                                                        significant foreign investor in the Indian financial market
                                                    </p>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <span>2,649 <em class="fa fa-arrow-up"></em></span>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 25%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br><br><br>
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card l-bg-blue-dark">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large"><em class="fas fa-users"></em></div>
                                            <div class="mb-4">
                                                <h5 class="card-title mb-0">Chase</h5>
                                            </div>
                                            <div class="row align-items-center mb-2 d-flex">
                                                <div class="col-8">
                                                    <p class="d-flex align-items-center mb-0">
                                                        Chase Bank provides a broad range of financial services to
                                                        almost half of America's
                                                        households. Over 5300 branches and 15500 ATMs nationwide.
                                                    </p>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <span>1,890 <em class="fa fa-arrow-up"></em></span>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                                <div class="progress-bar l-bg-green" role="progressbar" data-width="25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 25%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br><br><br>
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card l-bg-green-dark">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large"><em class="fas fa-ticket-alt"></em>
                                            </div>
                                            <div class="mb-4">
                                                <h5 class="card-title mb-0">Charles Schwab</h5>
                                            </div>
                                            <div class="row align-items-center mb-2 d-flex">
                                                <div class="col-8">
                                                    <p class="d-flex align-items-center mb-0">
                                                        The Charles Schwab Corporation provides a full range of
                                                        brokerage,banking and financial
                                                        advisory services through service.
                                                    </p>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <span>2,880 <em class="fa fa-arrow-up"></em></span>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                                <div class="progress-bar l-bg-orange" role="progressbar"
                                                    data-width="25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100" style="width: 25%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card l-bg-orange-dark">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large"><em class="fas fa-dollar-sign"></em>
                                            </div>
                                            <div class="mb-4">
                                                <h5 class="card-title mb-0">Bank Of America</h5>
                                            </div>
                                            <div class="row align-items-center mb-2 d-flex">
                                                <div class="col-8">
                                                    <p class="d-flex align-items-center mb-0">
                                                        The Bank of America Corporation is an American multinational
                                                        investment bank and
                                                        financial services holding company.
                                                    </p>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <span>2,445 <em class="fa fa-arrow-up"></em></span>
                                                </div>
                                            </div>
                                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 25%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form" style="text-align: justify;">
                                    <h2 class="head2">Select Your Banks</h2>
                                    <div class="form">
                                        <form [formGroup]="childInfo">

                                            <label for="child" id="child" class="head">Banks</label><br>
                                            <input type="radio" id="child" name="child" value="CITI" class="error"
                                                formControlName="child">CITI
                                            <input type="radio" id="child" name="child" value="CHASE" class="error"
                                                formControlName="child">CHASE
                                            <input type="radio" id="child" name="child" value="CHARLES SCHWAB"
                                                class="error" formControlName="child">CHARLES SCHWAB
                                            <input type="radio" id="child" name="child" value="BANK OF AMERICA"
                                                class="error" formControlName="child">BANK OF AMERICA<br>
                                            <!-- TextArea in Form Details -->
                                            <div class="btncont" style="text-align: justify">

                                                <button type="button" class="btn"
                                                    (click)="onSubmit(this.childInfo.value)"
                                                    style="color: cyan; border: 10px; border-color:aliceblue ;">Submit</button><br>
                                                <a href="back" class="btn" style="color: cyan;">Back</a><br>

                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>