
<!-- <router-outlet></router-outlet> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<body style=" background: #1c1b21;
background: linear-gradient(150deg, rgba(28,27,33,0.9416141456582633) 0%, rgba(9,121,105,1) 35%, rgba(0,241,255,1) 100%);">
>
<div class="container">
  <h2 class="head">Ready to reach your goals?</h2>
  <p class="head">Our Investment Strategy</p>
<div class="mt-5">
      <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
              Basic Plan(First $1M)
            </h4>

            <div class="text-secondary-d1 text-120">
              <span class="ml-n15 align-text-bottom">$</span><span class="text-180">0.79%</span> / month
            </div>
          </div>

          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span>
                <span class="text-110">$100k to $200k investment assets</span>
                Investment Services
              </span>
            </li>

            <li class="mt-25">
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span class="text-110">
                Unlimited advice and retirement planning help from from financial advisor
            </span>
            </li>

            
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a href="#" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" class="btn" >Invest</a>
          </div>
        </div>

      </div>



      <div class="d-style bgc-white btn btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow-sm border-2">
        <!-- Pro Plan -->

        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
              Pro Plan(Next $2M)
            </h4>

            <div class="text-secondary-d2 text-120">
              <div class="text-danger-m3 text-90 mr-1 ml-n4 pos-rel d-inline-block">
                <span class="text-150 deleted-text"></span>
                <span>
                    <span class="d-block rotate-45 position-l mt-n475 ml-35 fa-2x text-400 border-l-2 h-5 brc-dark-m1"></span>
                </span>
              </div>
              <span class="align-text-bottom">$</span><span class="text-180">0.69%</span> / month
            </div>
          </div>

          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span>
                <span class="text-110">Over $200K to $1M investment assets</span>
              </span>
            </li>

            <li class="mt-25">
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span class="text-110">
                Two dedicated financial advisor
            </span>
            </li>

            <li class="mt-25">
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span class="text-110">
                Specialists in real estate,stock option,and more
            </span>
            </li>
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a href="#" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" class="btn">Invest</a>
          </div>
        </div>

      </div>



      <div class="d-style btn btn-brc-tp border-2 bgc-white, btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">
        <!-- Premium Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
              Premium Plan(Next $5M)
            </h4>

            <div class="text-secondary-d1 text-120">
              <span class="ml-n15 align-text-bottom">$</span><span class="text-180">0.59%</span> / month
            </div>
          </div>

          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span>
                <span class="text-110">Over $1M investment assets</span>
              </span>
            </li>

            <li class="mt-25">
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span class="text-110">
                Priority access to our Specialists and investment commitees
            </span>
            </li>

            
            <li class="mt-25">
                <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
                <span class="text-110">
                    Private equity investment options
              </span>
              </li>
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a href="#" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" class="btn">Invest</a>
          </div>
        </div>

      </div>

      <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">
        <!-- Premium Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
              Premium+ Plan(Over $10M)
            </h4>

            <div class="text-secondary-d1 text-120">
              <span class="ml-n15 align-text-bottom">$</span><span class="text-180">0.49%</span> / month
            </div>
          </div>

          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span>
                <span class="text-110">Over $10M investment assets</span>
              </span>
            </li>

            <li class="mt-25">
              <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
              <span class="text-110">
                A customized portfolio with regular reviews
            </span>
            </li>

            

            <li class="mt-25">
                <em class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></em>
                <span class="text-110">
                    State-of-the-art digital tools
              </span>
              </li>
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a href="#" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" class="btn">Invest</a>
            
          </div>
        </div>

      </div>
    </div> 
                           <!-- Giving Form Details -->
    <div class="form">
      <form [formGroup]="investInfo">
        
        <label for="Plan" id="Plan"  class="head">Plan </label><br>
              <input type="radio" id="Plan" name="Plan" value="Basic Plan" class="error" formControlName="Plan">Basic Plan
              <input type="radio" id="Plan" name="Plan" value="Pro Plan" class="error" formControlName="Plan">Pro Plan
              <input type="radio" id="Plan" name="Plan" value="Premium Plan" class="error" formControlName="Plan">Premium Plan
              <input type="radio" id="Plan" name="Plan" value="Premium+ plan" class="error" formControlName="Plan">Premium+ plan
                            <!-- TextArea in Form Details -->
          <!-- <div class="textarea">
            <h4 >Any Suggestion</h4>
          <textarea id="text"></textarea>
          </div> -->
          <button type="button"  class="btn" (click)="onSubmit(this.investInfo.value)">Submit</button>
          <a href="CardInfo" class="btn" >Next</a>

       
      </form>
    </div>

</div>
 
</body>

