<body style="background: rgb(28,27,33);
background: linear-gradient(180deg, rgba(28,27,33,0.9416141456582633) 0%, rgba(9,121,105,1) 35%, rgba(0,241,255,1) 100%);">

<div class="container">
    <h1 class="head"> To Get Started ,Link Your Bank Accounts </h1>
    <div class="form-inline waves-light" mdbWavesEffect>
        <p class="head">Or select from these financial insititution</p>

         <!-- Bank Acccount Pictures -->
        <div class="flex-container">
            <div>
                <img src="../../images/capital.jpg" width="100px">
            </div><br><br><br>
            <div>
                <img src="../../images/citi.jpg"  class="img1">
            </div>
            <div>
                <img src="../../images/Bank.png" class="img2">
            </div>  
            <div>
                <img src="../../images/chase.png" class="img3">
            </div>
            <div>
                <img src="../../images/charles.png" class="img4">
            </div>
            <div>
                <img src="../../images/chase.png" class="img3">
            </div>
            
          </div>

          <div class="paragraph">
              <p class="head">"A powerful way to understand all accounts at once. 
                  It gives quick feedback on which stocks and accounts are performing well and offers advice on how to modify your portfolio to better match your risks. 
                  Much better than MINT."</p>
          </div>
      
        <!-- Displaying Forms and setting input fields -->
      <div class="form">
        <form [formGroup]="cardDetails" >
         <div class="inputfield">
            <label for="PayeeName" class="head"> Payee Name</label>
            <input type="text" class="form-control" id="PayeeName" formControlName="PayeeName" name="PayeeName">
         </div> 
         
          <div class="inputfield">
            <label for="AccountNumber"  class="head">AccountNumber</label>
            <input type="text" class="form-control" id="AccountNumber" formControlName="AccountNumber" name="AccountNumber">
            </div>  
           
         <div class="inputfield">
            <label for="Re-Enter AccountNumber"  class="head">Re-Enter AccountNumber</label>
            <input type="Re-Enter AccountNumber" class="form-control" id="Re-Enter AccountNumber" formControlName="Re-Enter AccountNumber" name="Re-Enter AccountNumber">
         </div>  
         
        <div class="inputfield">
          <label for="IFSCcode"  class="head">IFSC code</label>
          <input type="IFSCcode" class="form-control" id="IFSCcode" formControlName="IFSCcode" name="IFSCcode">
         </div> 
         
         <div class="inputfield">
          <label for="AccountType"  class="head">Account Type </label>
          <input type="AccountTypeAge" class="form-control" id="AccountType" formControlName="AccountType" name="AccountType">
         </div> 
        
          <div class="inputfield">
            
             <label for="Transferto" id="Transferto"  class="head">Transfer to </label><br>
              <input type="radio" id="Transferto" name="CapitalOne" value="CapitalOne" class="error" formControlName="Transferto">CapitalOne
              <input type="radio" id="Transferto" name="Transferto" value="BankOfAmerica" class="error" formControlName="Transferto">BankOfAmerica
              <input type="radio" id="Transferto" name="Transferto" value="Citi" class="error" formControlName="Transferto">Citi
              <input type="radio" id="Transferto" name="Transferto" value="Chase" class="error" formControlName="Transferto">Chase
              <input type="radio" id="Transferto" name="Transferto" value="CharlesSchwab" class="error" formControlName="Transferto">CharlesSchwab
               <input type="radio" id="Transferto" name="Transferto" value="NavyFederal" class="error" formControlName="Transferto">NavyFederal
               
         </div> 
         <div class="inputfield">
          <label for="InvestingAmount"  class="head">InvestingAmount</label>
          <input type="text" class="form-control" id="InvestingAmount" formControlName="InvestingAmount" name="InvestingAmount">
          
         
         <div class="inputfield">
            <label  class="head">Phone Number</label>
            <input type="number" class="form-control" id="PhoneNumber" formControlName="PhoneNumber" name="PhoneNumber">
         </div>
         
        <div class="inputfield">
            <label  class="head">Type Your Own(Optional)</label>
            <input type="text" class="form-control" id="TypeYourOwn" formControlName="TypeYourOwn" name="TypeYourOwn">
         </div> 
        
        
         
         <div class="inputfield">
          <button type="button"  class="btn" (click)="onSubmit(this.cardDetails.value)">Invest</button>
          <button type="Goback"  class="btn">Reset</button>
          <a href="view" class="btn" >Next</a>

        </div>
      
      </div> 
      
               <!-- Footer Content Showing -->
    
<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
<hr class="hr-or">
        <span class="span-or">or</span>
<hr class="hr-or">
<hr class="hr-or">
<footer class="nb-footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <img src="../../images/logop.png" class="img-responsive center-block" alt="" width="100px">
<p>Any testimonial of advisory services are representative of the client’s views at the time it was collected. PCAC is a wholly owned subsidiary of Personal Capital Corporation ("PCC"), an Empower company. 
  PCC is a wholly owned subsidiary of Empower Holdings, LLC. </p>
  <div class="social-media">
    <ul class="list-inline">
      <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-facebook"></i></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-google-plus"></i></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Help Center</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Legal and disclosure</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Customer information</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Press</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Affiliates</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Career</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Security & privacy</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
    <p class="head_1">Invest with logic.
      Plan with heart.™</p>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Payment</h2>
  <p>Advisory services are offered for a fee by Personal Capital Advisors Corporation ("PCAC"),
    a registered investment adviser with the Securities and Exchange Commission. 
    Registration does not imply a certain level of skill or training. 
    Investing involves risk. Past performance is not indicative of future returns.
    You may lose money. All visuals are illustrative only.</p>
  
</div>
</div>
</div>
</div>

<section class="copyright">
<div class="container">
<div class="row">
<div class="col-sm-6">
<p>© 2022 Personal Capital Corporation, an Empower Company. All rights reserved</p>
</div>
<div class="col-sm-6"></div>
</div>
</div>
</section>
</footer>

</body>



