<header style="background-color: black; color: cyan;">
<div class="overlay">
<h1>Private Client Wealth Management</h1>
<h3>You’ve earned a higher level of service.</h3>
<p>As a Private Client, you get more than just a personalized portfolio, you get a team dedicated to helping you reach your goals. Tap into our expertise in legacy planning, private equity, and more.</p>
	<br>
</div>
</header>

   <!-- Showing Images in Card Views -->
    
  <section id="gallery" style="background-color: black;">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: black;">
        <img src="../../images/card1.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Michelle Brownstein, CFP®
            VP of Private Client Services</h5>
          <p class="card-text">We take all your investments and assets into account when building your portfolio and come up with a game plan in helping you with stock options, private company stocks and highly appreciated securities.</p>
        
        </div>
       </div>
      </div><br>
    <div class="col-lg-4 mb-4">
    <div class="card" style="background-color: black;">
        <img src="../../images/card10.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Craig Birk, CFP®
            Chief Investment Officer</h5>
          <p class="card-text">Access a diversified basket of private equity investments to build a portfolio previously only accessed by large, institutional investors.</p>
         
        </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" style="background-color: black;">
            <img src="../../images/card4.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Personal Strategy® Peoples</h5>
              <p class="card-text">Personal Strategy® is a globally diversified multi-asset class portfolio built with individual stocks and ETFs, designed and managed specifically for you.</p>
             
            </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" style="background-color: black;">
                <img src="../../images/card7.jpg" alt="" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Brendan Erne, CFA, CSRIC
                    Director of Portfolio Managemen</h5>
                  <p class="card-text">You get a broad, life-simplifying suite of products and services exclusively for Private Clients through our partnership with BNY Mellon.</p>
                 
                </div>
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card" style="background-color: black;">
                    <img src="../../images/card8.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Lacey Cobb, CFA, CFP®
                        Director of Advice Solutions</h5><br>
                      <p class="card-text">We strive to position all of your assets to work together. so we will review your active retirement plan investment options and provide a recommendation that aligns with your overall investment strategy. This way your active retirement plan and outside, liquid assets can work seamlessly together to help you meet your goals.</p>
                    
                    </div>
                    </div>
                  </div>
      <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: black;">
        <img src="../../images/card9.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kyle Ryan, CFP®
            EVP of Advisory Services</h5>
          <p class="card-text"> With the combination of our skilled advisors and proprietary Smart Withdrawal™ Tool, we can help you plan how to withdraw and spend money in retirement. The Smart Withdrawal Tool factors in your data and adjusts in real time to keep your cash flow planning on track.</p>
         
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
                     <!-- Footer Section -->
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
<hr class="hr-or">
        <span class="span-or">or</span>
<hr class="hr-or">
<hr class="hr-or">
<footer class="nb-footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <img src="../../images/logop.png" class="img-responsive center-block" alt="" width="100px">
<p>Any testimonial of advisory services are representative of the client’s views at the time it was collected. PCAC is a wholly owned subsidiary of Personal Capital Corporation ("PCC"), an Empower company. 
  PCC is a wholly owned subsidiary of Empower Holdings, LLC. </p>
  <div class="social-media">
    <ul class="list-inline">
      <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-facebook"></em></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-twitter"></em></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-google-plus"></em></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-linkedin"></em></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Help Center</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> How to Pay</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> FAQ's</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> Legal and disclosure</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Customer information</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> About Us</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> FAQ's</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> Press</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> Affiliates</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> Career</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Security & privacy</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> Terms Of Use</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><em class="fa fa-angle-double-right"></em> Privacy Policy</a></li>
    <p class="head_1">Invest with logic.
      Plan with heart.™</p>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Payment</h2>
  <p>Advisory services are offered for a fee by Personal Capital Advisors Corporation ("PCAC"),
    a registered investment adviser with the Securities and Exchange Commission. 
    Registration does not imply a certain level of skill or training. 
    Investing involves risk. Past performance is not indicative of future returns.
    You may lose money. All visuals are illustrative only.</p>
  
</div>
</div>
</div>
</div>

<section class="copyright">
<div class="container">
<div class="row">
<div class="col-sm-6">
<p>© 2022 Personal Capital Corporation, an Empower Company. All rights reserved</p>
</div>
<div class="col-sm-6"></div>
</div>
</div>
</section>
</footer>
  