<header style="background-color: black; color: cyan;">
<div class="overlay">
<h1>Private Client Wealth Management</h1>
<h3>You’ve earned a higher level of service.</h3>
<p>As a Private Client, you get more than just a personalized portfolio, you get a team dedicated to helping you reach your goals. Tap into our expertise in legacy planning, private equity, and more.</p>
	<br>
</div>
</header>

   <!-- Showing Images in Card Views -->
    
  <section id="gallery" style="background-color: black;">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: black;">
        <img src="../../images/card1.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Michelle Brownstein, CFP®
            VP of Private Client Services</h5>
          <p class="card-text">We take all your investments and assets into account when building your portfolio and come up with a game plan in helping you with stock options, private company stocks and highly appreciated securities.</p>
        
        </div>
       </div>
      </div><br>
    <div class="col-lg-4 mb-4">
    <div class="card" style="background-color: black;">
        <img src="../../images/card10.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Craig Birk, CFP®
            Chief Investment Officer</h5>
          <p class="card-text">Access a diversified basket of private equity investments to build a portfolio previously only accessed by large, institutional investors.</p>
         
        </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" style="background-color: black;">
            <img src="../../images/card4.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Personal Strategy® Peoples</h5>
              <p class="card-text">Personal Strategy® is a globally diversified multi-asset class portfolio built with individual stocks and ETFs, designed and managed specifically for you.</p>
             
            </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" style="background-color: black;">
                <img src="../../images/card7.jpg" alt="" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Brendan Erne, CFA, CSRIC
                    Director of Portfolio Managemen</h5>
                  <p class="card-text">You get a broad, life-simplifying suite of products and services exclusively for Private Clients through our partnership with BNY Mellon.</p>
                 
                </div>
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card" style="background-color: black;">
                    <img src="../../images/card8.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Lacey Cobb, CFA, CFP®
                        Director of Advice Solutions</h5><br>
                      <p class="card-text">We strive to position all of your assets to work together. so we will review your active retirement plan investment options and provide a recommendation that aligns with your overall investment strategy. This way your active retirement plan and outside, liquid assets can work seamlessly together to help you meet your goals.</p>
                    
                    </div>
                    </div>
                  </div>
      <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: black;">
        <img src="../../images/card9.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kyle Ryan, CFP®
            EVP of Advisory Services</h5>
          <p class="card-text"> With the combination of our skilled advisors and proprietary Smart Withdrawal™ Tool, we can help you plan how to withdraw and spend money in retirement. The Smart Withdrawal Tool factors in your data and adjusts in real time to keep your cash flow planning on track.</p>
         
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
                    
  
  