
.para, .head {
    font-family:'Poppins',sans-serif;
  }
  .head {
    font-weight: 300;
    font-style: bold;
  }
  .para {
    font-weight: 400;
    color: cyan;
    font-size: large;
    
  }
  .btn {
      background-color: cyan;
      border-radius: 10px;
      color: black;
      padding: 10px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  .head_1 {
    color: cyan;
    font-size: 300;
  }
  .container-fluid {
    overflow: hidden;
    /* scroll-behavior: none; */
  }
  .card-body {
    background-color: black;
    border: none;
    
  }
  .card-title {
    color: cyan;
    font-size: 40px;
    font-weight: 300;
    /* text-decoration-line: underline; */
  
  }
  .card-text {
    color: cyan;
    font-size: large;
  }
  .card-img-top {
    height: 25vw;
    background-color: black;
  }
  .card {
    background-color: black;
    padding: 20px;
    margin-top: 20px;
    
   }
  
  
  
  .row row-cols-1 row-cols-md-2 g-4 {
    overflow: hidden;
  }
 
.column {
  float: left;
  width: 70%;
  width: 50%;
  padding: 10px;
  height: 400px; 
  background-color: black;/* Should be removed. Only for demonstration */
  
}
.text {
  color: cyan;
}

.img1 {
  width: 400px;
}
.card[_ngcontent-unl-c45] {
  background-color: black;
  margin-top: 20px;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  color: cyan;
  background-color: black;
  
  
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {

  width: 100%;
  padding: 20px;
  background-color: black;
  
}

/* Add a card effect for articles */


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.head_2 {
  color: cyan;
}
.head_3 {
  color: cyan;
}
.head_4 {
  color: cyan;
  background-color: black;
 
}


.btn1 {
  border-radius: 10px;
  background-color: cyan;
  color: black;
  padding: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 40px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 50px;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: cyan;
  color: black;
  text-align: center;
}

.flip-card-back {
  background-color: black;
  color: cyan;
  transform: rotateY(180deg);
}
.container_2 {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 16px;
}

.head_5 {
  font-size: 35px;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  align-items: center;
  
}
.head_6 {
  font-size: 25px;
}
.line {
  color: cyan;
  border: 20px;
}
.tab {
  color: cyan;
  
}


div.social{
  text-align: center;
  background-color: black;
}
.fa fa-lightbulb-o {
  color: cyan;
}
.social_1{
  color: cyan;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  /* margin-left: -25px; */
  background-color: black;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
footer.nb-footer {
background: black;
border-top: 4px solid cyan; }
footer.nb-footer .about {
/* margin: 0 auto; */
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: cyan;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: cyan;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: cyan;
color: cyan;
border-color: cyan; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: cyan;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid cyan;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: cyan;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color:cyan; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color:cyan; }
footer.nb-footer .copyright {
margin-top: 15px;
background:black;
padding: 7px 0;
color: cyan; }

.form-group input[type=text] {
  color: black;
}
