
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body style="background-color: black;">

<!-- Navbar (sit on top) -->


<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity" style="color: cyan;"> KEY<span class="w3-hide-small"> PORTFOLIO </span>CHARACTERISTICS</span>
    <img src="../../images/logop.png" width="350px" alt="">
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <p class="w3-center"><em>Why invest in a Socially Responsible Investment portfolio?</em></p>
  <p class="para">For many, socially responsible investing is a way to align their investments with their personal values and beliefs. ESG factors have also been proven to be financially material to a company's bottom line. Numerous studies have shown companies rating higher on material ESG issues tend to be more profitable and produce stronger financial results. Additionally, some studies show higher rated ESG companies could also lead to better portfolio returns over time1.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><strong><em class="fa fa-user w3-margin-right"></em>Our Clients</strong></p><br>
      <img src="../../images/about1.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p class="para">We use a combination of exclusive and inclusive filters, which allow us to avoid controversial categories and simultaneously seek out companies more proactively managing ESG issues. And given our use of individual stocks, it can offer greater tax efficiency and opportunities for customization than off-the-shelf mutual funds and ETFs.

        Socially Responsible Personal Strategies include all the benefits of our Personal Strategy® approach, including optimal asset class mixes that aim to maximize return and reduce risk, our Smart Weighting™ methodology within U.S. equities, tax management, and disciplined rebalancing.
        Our Socially Responsible Personal Strategy (SRI) is a way for you to support and invest in companies more proactively managing environmental, social, and corporate governance related issues, also known as ESG. Ready to put new energy in your portfolio? It’s easy to get started.</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16" style="font-size: larger;">U.S. Equities</p>
  <p class="w3-wide"><em class="fa fa-camera"></em>Dynamic Portfolio Allocation</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><em class="fa fa-laptop"></em>Tax Optimization</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"><em class="fa fa-photo"></em>Rebalancing</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">140K+</span><br>
    Pay off debt.
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55000+</span><br>
    Increase your savings.
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">890K+</span><br>
    Minimize Your Risk of Compromise.
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150K+</span><br>
  Happy Clients
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Use our free Investment Checkup Tool to:
        1.Assess your portfolio risk
        2.Analyze past performance
    </span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">Assess your portfolio risk</h3>
  <p class="w3-center"><em>If you’re taking on too much investment risk, you’ll get suggestions on ways to potentially achieve similar levels of performance while reducing risk.<br>View a target allocation that’s an optimal blend of asset classes to achieve a given risk-adjusted return.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="../../images/model1.webp" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist over the mountains">
    </div>

    <div class="w3-col m3">
      <img src="../../images/model2.webp" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Coffee beans">
    </div>

    <div class="w3-col m3">
      <img src="../../images/model3.webp" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Bear closeup">
    </div>

    <div class="w3-col m3">
      <img src="../../images/model4.webp" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Quiet ocean">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="../../images/model10.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist">
    </div>

    <div class="w3-col m3">
      <img src="../../images/model12.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="My beloved typewriter">
    </div>

    <div class="w3-col m3">
      <img src="../../images/model11.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Empty ghost train">
    </div>

    <div class="w3-col m3">
      <img src="../../images/model13.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Sailing">
    </div>
   
  </div>


<!-- Footer -->


 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>




