<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />    
  <div id="mainCoantiner">
    <!--dust particel-->
     <div class="margin-body">
    
    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->
  
     <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center"><span><span class="light">Our  </span> Big Investors</span></div>
              <div class="title-h1 text-center"><span><span class="light">Explore More Of Our </span> Financial Invester</span></div>

              

  <button type="button" (click)="fetchAdditionalDetails()" class="btn">View</button>
    <!-- Table Format -->
  
 <div class="container">
    <div class="row">

        <div class="col-lg-4" *ngFor="let user of alluser" >
            <div class="card">
                <div class="face front-face">
                    <img src="../../images/logop.png " width="100%"
                        alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        {{user.FirstName}}
                    </div>
                    <div class="designation">{{user.Occupation}}</div>
                    <div class="designation">{{user.NetWorth}}</div>
                    <p>{{user.Gender}}</p>
                    <p>{{user.Location}}</p>
                    <p>{{user.Retirement}}</p>

                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                      Invest for good with our Socially Responsible Personal Strategy®<hr>
                     
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
      
    </div>
</div>










 













  