<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div id="mainCoantiner">
    <!--dust particel-->
    <div class="margin-body">

        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div><br>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="title-h1 text-center"><span><span class="light"> </span>YOUR ADDITIONAL
                                INFORMATION🙂</span></div>

                        <div class="title-h1 text-center"><span><span class="light">Explore More Of Our </span>
                                Financial Invester</span></div><br>


                        <div class="buttons">
                            <a href="investershow" type="button" class="btn">Explore More Our Financial Investor</a>
                        </div><br>
                        <div class="container1">
                            <table class="table table-striped table-dark"
                                style="margin-left: auto; margin-right: auto;">
                                <caption>AdditionalInformation</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">FirstName</th>
                                        <th scope="col">LastName</th>
                                        <th scope="col">Occupation</th>
                                        <th scope="col">NetWorth</th>
                                        <th scope="col">Retirement</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">locationInfo</th>
                                        <th scope="col">PhoneNumber</th>
                                        <th scope="col">Address</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let info of alluser">
                                        <td>{{info.FirstName}}</td>
                                        <td>{{info.LastName}}</td>
                                        <td>{{info.Occupation}}</td>
                                        <td>{{info.NetWorth}}</td>
                                        <td>{{info.Retirement}}</td>
                                        <td>{{info.Gender}}</td>
                                        <td>{{info.Location}}</td>
                                        <td>{{info.PhoneNumber}}</td>
                                        <td>{{info.Address}}</td>

                                </tbody>
                            </table>

                        </div>