<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body class="w3-content w3-black" style="max-width:1500px; background-color:black ;">
  <!-- The App Section -->
  <div class="w3-padding-64 w3-black">
    <div class="w3-row-padding">
      <div class="w3-col l8 m6">
        <h1 class="w3-jumbo" style="color: cyan;"><strong>Secure. Flexible. Easy.</strong></h1>
        <h1 class="w3-xxxlarge w3-text-green"><strong>One Secure Place
            for Your Cash</strong></h1>
        <p style="color: cyan;"><span class="w3-xlarge">Personal Capital Cash</span> Simplify your family finance with a
          joint account
          For large withdrawals, wire up to $1M2 with no fees
          Set up direct deposit for your paychecks
          Link to your checking for monthly bills
          Unlimited number of monthly transfers
          Withdraw up to $100K2 per day
          No minimum balance</p>

      </div>
      <div class="w3-col l4 m6">
        <img src="../../images/about2.png" class="w3-image w3-right w3-hide-small" width="335" height="471" alt="">
        <div class="w3-center w3-hide-large w3-hide-medium">
          <button class="w3-button w3-block w3-padding-large"
            onclick="document.getElementById('download').style.display='block'">
            <em class="fa fa-download"></em> Download Application
          </button>
          <img src="/w3images/img_app.jpg" class="w3-image w3-margin-top" width="335" height="471" alt="">
        </div>
      </div>
    </div>
  </div>



  <!-- Clarity Section -->
  <div class="w3-padding-64 w3-black">
    <div class="w3-row-padding">
      <div class="w3-col l4 m6">
        <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="../../images/save2.webp" alt="App"
          width="335" height="471">
      </div>
      <div class="w3-col l8 m6">
        <h1 class="w3-jumbo" style="color: cyan;"><strong>Clarity</strong></h1>
        <h1 class="w3-xxxlarge w3-text-red"><strong>Explore more of our financial tools.</strong></h1>
        <p style="color:cyan ;"><span class="w3-xlarge">A revolution in resolution.</span> Sharp and clear photos with
          the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>

  <!-- Features Section -->
  <div class="w3-container w3-padding-64 w3-black w3-center">
    <h1 class="w3-jumbo" style="color: cyan;"><strong>Features</strong></h1>
    <p style="color: cyan;">Free Portfolio Analyzer - Investment Checkup</p>

    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s3">
        <em class="fa fa-bolt w3-text-orange w3-jumbo"></em>
        <p>Fast</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-heart w3-text-red w3-jumbo"></em>
        <p>Loved</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-camera w3-text-yellow w3-jumbo"></em>
        <p>Clarity</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-battery-full w3-text-green w3-jumbo"></em>
        <p>Power</p>
      </div>
    </div>

    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s3">
        <em class="fa fa-diamond w3-text-white w3-jumbo"></em>
        <p>Sharp</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-cloud w3-text-blue w3-jumbo"></em>
        <p>Cloud</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-globe w3-text-amber w3-jumbo"></em>
        <p>Global</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-hdd-o w3-text-cyan w3-jumbo"></em>
        <p>Storage</p>
      </div>
    </div>

    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s3">
        <em class="fa fa-user w3-text-sand w3-jumbo"></em>
        <p>Safe</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-shield w3-text-orange w3-jumbo"></em>
        <p>Stabile</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-wifi w3-text-grey w3-jumbo"></em>
        <p>Connected</p>
      </div>
      <div class="w3-col s3">
        <em class="fa fa-image w3-text-pink w3-jumbo"></em>
        <p>HD</p>
      </div>
    </div>
  </div>

  <!-- Pricing Section -->
  <div class="w3-padding-64 w3-center w3-black">
    <h1 class="w3-jumbo" style="color: cyan;"><strong>Pricing</strong></h1>
    <p class="w3-large" style="color: cyan;">Choose a pricing plan that fits your needs.</p>
    <div class="w3-row-padding" style="margin-top:64px">
      <div class="w3-half w3-section">
        <ul class="w3-ul w3-card w3-hover-shadow">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
          <li class="w3-padding-16"><strong>First</strong>$3M</li>
          <li class="w3-padding-16"><strong>10</strong> Features</li>
          <li class="w3-padding-16"><strong>No</strong> Ads</li>
          <li class="w3-padding-16"><strong>Office hours</strong> Support</li>
          <li class="w3-padding-16">
            <h2 class="w3-opacity">$ 25</h2>
          </li>

        </ul>
      </div>
      <div class="w3-half w3-section">
        <ul class="w3-ul w3-card w3-hover-shadow">
          <li class="w3-cyan w3-xlarge w3-padding-32">Premium</li>
          <li class="w3-padding-16"><strong>First</strong>$5M</li>
          <li class="w3-padding-16"><strong>50</strong> Features</li>
          <li class="w3-padding-16"><strong>No</strong> Ads</li>
          <li class="w3-padding-16"><strong>Endless</strong> Support</li>
          <li class="w3-padding-16">
            <h2 class="w3-opacity">$ 99</h2>
          </li>

        </ul>
      </div>
    </div>
    <br>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-black w3-center w3-xlarge">
    <div class="w3-section">
      <em class="fa fa-facebook-offemcial w3-hover-opacity"></em>
      <em class="fa fa-instagram w3-hover-opacity"></em>
      <em class="fa fa-snapchat w3-hover-opacity"></em>
      <em class="fa fa-pinterest-p w3-hover-opacity"></em>
      <em class="fa fa-twitter w3-hover-opacity"></em>
      <em class="fa fa-linkedin w3-hover-opacity"></em>
    </div>
  </footer>


</body>